.main-grid {
  background-color: #142147;
  padding: 11%;
  display: grid;
  grid-template-columns: 25% 25% 27% 10%;
}

.main-section {
  h2 {
    font-size: 28px;
    width: 20px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    color: white;
    position: relative;
    top: 100px;
    left: 11%;
  }
}

.section-1 {
}

.section-2 {
}

@media screen and (max-width: 1400px) {
  .main {
    h2 {
      top: 10px;
      left: 5%;
    }
  }

  .main-grid {
    padding: 20px;
  }
}

@media screen and (max-width: 1115px) {
  .main-grid {
    grid-template-columns: 33% 33% 33%;
  }
}

@media screen and (max-width: 866px) {
  .main-grid {
    padding: 0%;
    margin-right: 100%;
    grid-template-columns: 100%;
  }
}
