.card {
  display: flex;
  flex-direction: column;
  background-color: rgb(9, 16, 36);
  transition: 0.1s;
  box-shadow: 1px 4px 10px -6px;
  height: 480px;
  width: 260px;
  margin-bottom: 20px;
}

.card-loading {
  opacity: 0.5;
}

.card-loader {
  z-index: 10;
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: rgb(47, 83, 182);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 0.9s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.card:hover {
  cursor: pointer;
}
.card:active {
  transition: 0.1s;
  opacity: 0.8;
}

.card-title {
  color: white;
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 18px;
}

.card-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
}

.game-image img {
  width: 260px;
  height: 320px;
}

.card-badge {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.product-state {
  color: rgb(0, 204, 255);
  text-align: center;
}

.product-price {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: rgb(34, 250, 34);
  font-weight: bolder;
  font-size: 22px;
}

.product-state-symbol {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  p {
    position: relative;
    bottom: 10px;
    font-size: 14px;
  }
  svg {
    font-size: 20px;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 866px) {
  .card {
    flex-direction: row;
    width: 97vw;
    height: 175px;
  }

  .card-title {
    font-size: 16px;
    width: 40vw;
  }

  .card-body {
    flex-direction: column;
  }

  .card-badge {
  }

  .card-footer {
    flex-direction: row-reverse;
    position: relative;
    top: 90px;
    right: 170px;
  }

  .card:active {
    transition: 0.1s;
    opacity: 0.8;
  }

  .product-price {
    top: 90px;
    width: 150px;
    font-size: 18px;
  }

  .product-state {
    font-size: 14px;
  }

  .product-state-symbol {
    position: relative;
    top: 15px;
  }

  .game-image {
    width: 140px;
    height: 170px;
    img {
      width: 140px;
      height: 170px;
    }
  }
}
