.card {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  background-color: rgb(9, 16, 36);
  transition: 0.1s;
  box-shadow: 1px 4px 10px -6px;
  height: 520px;
  width: 280px;
  margin-bottom: 20px;
  cursor: pointer;
}

.card-loading {
  opacity: 0.5;
}

.card-loader {
  z-index: 10;
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: rgb(47, 83, 182);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 0.9s linear infinite;
}

.card-loader-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  margin-left: 110px;
  margin-top: 150px;
}

.card-header {
  .card-header-image {
    img {
      width: 280px;
    }
  }

  .card-header-title {
    color: white;
    font-size: 12px;
    padding: 0px 15px;
  }
}

.card-body {
  color: white;
  padding: 0px 16px;
  svg {
    font-size: 16px;
    color: white;
  }

  .card-body-1 {
    height: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    .card-body-platform {
      div {
        display: flex;
        flex-direction: row;
        gap: 10px;
        p {
          font-size: 14px;
          position: relative;
          bottom: 14px;
        }
      }
    }

    .card-body-state {
      div {
        display: flex;
        flex-direction: row;
        gap: 5px;
        svg {
          position: relative;
          bottom: 2px;
          font-size: 20px;
        }
        p {
          font-size: 12px;
          position: relative;
          bottom: 10px;
        }
      }
    }
  }

  .card-body-2 {
    .card-body-price {
      div {
        display: flex;
        flex-direction: row;
        gap: 20px;
      }
    }
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
