.product-main {
  margin-top: 60px;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.product-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3%;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

.product-image {
  img {
    width: 385px;
  }
}

.product-section-1 {
  position: relative;
  left: 12.2%;
  width: 200px;
}

.product-description {
  background-color: #1d2d5f;
  padding: 0px 25px;

  .product-description-header {
    div {
      display: flex;
      flex-direction: row;
      gap: 10px;
      position: relative;
      bottom: 10px;
      height: 30px;
    }
    h2 {
      width: 400px;
    }
    h3 {
      position: relative;
      bottom: 21px;
    }
  }

  .product-description-price {
    position: relative;
    bottom: 30px;
    height: 30px;
    h3 {
      font-size: 26px;
      color: rgb(4, 255, 4);
    }
    div {
      display: flex;
      flex-direction: row;
      gap: 10px;
    }
    s {
      color: grey;
      opacity: 0.9;
    }
  }

  .product-description-score {
    display: flex;
    flex-direction: row;
    height: 20px;
    gap: 10px;
    p {
      position: relative;
      bottom: 15px;
    }
  }

  .product-description-state {
    height: 30px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    div {
      position: relative;
      top: 6px;
      width: 190px;
    }
  }

  .product-description-actions {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  .product-description-conditions {
    div {
      height: 45px;
      display: flex;
      flex-direction: row;
      gap: 13px;
      svg {
        font-size: 22px;
        position: relative;
        top: 20px;
      }
      b {
        color: #24a2db;
      }
    }
  }
}

.product-offers {
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
}

.product-offer {
  display: flex;
  flex-direction: row;
  gap: 5%;
  border-bottom: dotted 1px white;

  .product-offer-picture {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    img {
      height: 100px;
      width: 100px;
      border-radius: 50%;
    }
  }

  .product-offer-vendor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    width: 25%;
    div {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 10px;
      small {
        font-size: 14px;
        text-align: center;
        width: 100px;
      }
    }
    h3 {
      font-size: 16px;
    }
  }

  .product-offer-state {
    s {
      opacity: 0.6;
    }
    width: 25%;
  }

  .product-offer-actions {
    width: 25%;
    button {
      margin-top: 10px;
      width: 100%;
    }
    div {
      margin-top: 10px;

      width: auto;
    }
  }
}

@media screen and (max-width: 1000px) {
  .product-info {
    flex-direction: column;
    justify-content: center;
    gap: 3%;
    margin-left: auto;
    margin-right: auto;
    width: 390px;
  }

  .product-image {
    margin-left: auto;
    margin-right: auto;
    img {
      width: 385px;
    }
  }

  .product-description {
    .product-description-state {
      display: flex;
      flex-direction: row;
      div {
        width: 180px;
      }
      h3 {
        width: auto;
        font-size: 16px;
      }
    }

    .product-description-conditions {
      div {
        display: flex;
        flex-direction: row;
        font-size: 14px;
        svg {
          font-size: 16px;
          top: 19px;
        }
      }
    }

    .product-description-actions {
      padding: 12px;
    }
  }

  .product-offers {
    width: 100%;
  }

  .product-offer {
    .product-offer-picture {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 8%;
      img {
        height: 70px;
        width: 70px;
        border-radius: 50%;
      }
    }

    .product-offer-vendor {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      width: 25%;
      div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
      }
      h3 {
        font-size: 16px;
      }
    }

    .product-offer-state {
      s {
        opacity: 0.6;
      }
      width: 25%;
    }

    .product-offer-actions {
      width: 25%;
      button {
        margin-top: 10px;
        width: 100%;
      }
      div {
        margin-top: 10px;

        width: auto;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .product-info {
    flex-direction: column;
    justify-content: center;
    gap: 3%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .product-image {
    margin-left: auto;
    margin-right: auto;
    img {
      width: 285px;
    }
  }

  .product-description {
    .product-description-header {
      width: 70vw;
      font-size: 14px;
      h2 {
        width: auto;
      }
    }
  }
}

@media screen and (max-width: 390px) {
  .product-description {
    .product-description-state {
      div {
        width: 160px;
      }
      h3 {
        width: auto;
        font-size: 16px;
      }
    }

    .product-description-conditions {
      div {
        font-size: 14px;
        svg {
          font-size: 16px;
          top: 19px;
        }
      }
    }
  }
}
