.sidebar-container {
  position: fixed;
  height: 96.5%;
  border-radius: 20px;
  padding: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: white;
  background-color: #100c24;
}

.sidebar-option {
  padding: 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.sidebar-option:hover {
  cursor: pointer;
  background-color: #2f2a49;
}

.sidebar-option svg {
  position: relative;
  top: 10px;
  font-size: 35px;
}
