body {
  background-color: #142147;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-thumb {
  background-color: #584e88;
  border-radius: 25px;
}

body::-webkit-scrollbar-track {
  background-color: #142147;
}

body::-webkit-scrollbar-button {
  background-color: #142147;
}
