.segment-create-videogame {
  display: flex;
  flex-direction: column;
  align-items: center;
  h3 {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    color: white;
  }
  img {
    padding: 20px;
    width: 240px;
    height: 290px;
  }
}

.segment {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.segment-save {
  padding: 30px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  button {
    width: 100%;
  }
  width: 50%;
}

.segment:hover {
  background-color: #2f2a49;
}

.segment-selected {
  border-bottom: solid 5px #584e88;
}

.tag-item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: white;
  font-size: 14px;
  border-radius: 30px;
  background-color: #242131;
  width: auto;
  margin-left: 10px;
  p {
    margin-left: 20px;
  }

  svg {
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
    top: 17px;
  }
}

.tags-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.tags-input {
  display: flex;
  flex-direction: row;
  svg {
    font-size: 20px;
    color: white;
  }
}
